/* ==========================================================================
   IMPORT 
   ========================================================================== */
@import url('bootstrap.less');

/* ==========================================================================
	MIXINS ELEMENTS PRESETS
   ========================================================================== */
@headercolor: #2a3b43;

.roundedtop (@borderradius:6px){
    -webkit-border-top-left-radius: @borderradius;
    -webkit-border-top-right-radius: @borderradius;
    -moz-border-radius-topleft: @borderradius;
    -moz-border-radius-topright: @borderradius;
    border-top-left-radius: @borderradius;
    border-top-right-radius: @borderradius;
}

.roundedcorners(@borderradius:6px){
	-webkit-border-radius: @borderradius;
	-moz-border-radius: @borderradius;
	border-radius: @borderradius;
}

.hovergradient{
	background-image: linear-gradient(bottom, #2A3B43 4%, #64A08F 51%);
	background-image: -o-linear-gradient(bottom, #2A3B43 4%, #64A08F 51%);
	background-image: -moz-linear-gradient(bottom, #2A3B43 4%, #64A08F 51%);
	background-image: -webkit-linear-gradient(bottom, #2A3B43 4%, #64A08F 51%);
	background-image: -ms-linear-gradient(bottom, #2A3B43 4%, #64A08F 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.04, #2A3B43),
		color-stop(0.51, #64A08F)
	);
}

//Design for panels in second article
.panel{
	float: left;
	margin-left: 25px;
	width: 30%;
	height: 338px;
	.roundedcorners;
}

/* ==========================================================================
   FONTS
   ========================================================================== */
@font-face {
	font-family: 'UbuntuTitlingBold';
	src: url('../fonts/Ubuntu-Titling/UbuntuTitling-Bold-webfont.eot');
	src: url('../fonts/Ubuntu-Titling/UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Ubuntu-Titling/UbuntuTitling-Bold-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu-Titling/UbuntuTitling-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/Ubuntu-Titling/UbuntuTitling-Bold-webfont.svg#UbuntuTitlingBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.navbar{
	background-color: @headercolor;
	border-bottom: 1px solid #928779;
	.container{
		.navbar-inner{
			margin-left: 5px;
			background: transparent;
			border: none;
			box-shadow: none;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
			padding: 0px;
			.logo{
				.logo_pic{
					display: block;
					float: left;
					width: 46px;
					padding: 4px 8px 4px 0px;
				}
				.logoname{
					float:left;
					margin-top: 20px;
					.logo_name{
						display: inline-block;
						font-family: 'UbuntuTitlingBold', arial, sans-serif;
						font-size: 40px;
						font-weight: bolder;
						letter-spacing: -0.5px;
						color: #baceff;
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
			.btn-navbar{
				margin-top: 30px; 
				background: #b7bcc2; 
				&:hover{
					background: #1ba922; 
				}
			}
			.nav-collapse{
				.nav{
					font-family: arial;
					font-size: 16px;
					float: left; 
					margin-left: 70px;
					margin-top: 16px;
					li{
						a{
							color: #b7bcc2;
							padding: 6px 12px 12px 12px;
							text-shadow: 0 0px 0px #b7bcc2; 
							border-top: solid 2px @headercolor;
							border-left: solid 2px @headercolor;
							border-right: solid 2px @headercolor;
							.roundedtop(8px);
							&:hover{
							.hovergradient;
							cursor: pointer;
							text-decoration: none;
							color: white;
							border-top: solid 2px #928779;
							border-left: solid 2px #928779;
							border-right: solid 2px #928779;
							}
						}
					}
					li.dropdown.open > a{
						.roundedcorners(5px);	
					}
				}   
			}
			.play-register-icons{
				float: right;
				a{
					background-color: @headercolor;
					background-image: none;
					border: none;
					box-shadow:none;
					padding: 6px 12px;
					margin: 14px 15px 0px 0px;
					span{
						font-family: arial;
						font-size: 16px;
						font-weight: normal;
						color: white;
						text-shadow: none;
						margin-top:4px;
					}
				}
			}
		}
		#playModal{
			display: none;
			.modal-header{
				.login{
					font-family: arial;
					font-size: 60px;
					font-weight: bolder;
				}
			}
		}
	}
}
  
/* ==========================================================================
   MAIN ARTICLE
   ========================================================================== */
.main-article{
	.container{
		width:100%;
		margin:0; 
		#myCarousel{
			margin-top: 58px;
			margin-bottom: 0px;
			border-bottom: 1px solid #928779;
			.carousel-control.left{
				left: 1.2%;
			}
			.carousel-control.right{
				right: 1.2%;
			}
			.carousel-inner{
				.carousel-indicators li{
					background-color: #FFA718;
				}
				.carousel-indicators .active {
					background-color: #F73A30;
				}
				#slider1{
					background-image: url('../img/slider1bg.jpg');
					background-repeat:repeat;
					//background-color: #ebe9f7;
				}
				.slider1{
					width: 1170px;
					margin: 0 auto;
					.carousel-indicators{
						right:52%;
						top:300px;
					}
					.slider1text{
						display: block;
						margin-left: 8%;
						padding-top: 40px;
						width: 35%;
						float: left;
						font-family: arial;
						text-align: justify;
						#slider1text1{
							display: inline-block;
							font-size: 22px;
						}
						#slider1text2{
							display: inline-block;
							margin-top: 20px;
							font-size: 18px;
							line-height: 24px;
						}
						p{
							display: inline-block;
							margin-top: 30px;
							font-size: 16px;
							line-height: 22px;
						}
						.joinbutton{
							display: inline-block;
							margin-top: 20px;
							padding: 10px;
							background-color: #F73A30;
							.roundedcorners;
							font-size: 24px;
							font-weight: bolder;
							color: #FFFFFF;
							line-height: 24px;
							&:hover{
								background-color: #FB6E24;
								text-decoration: none;
							}
						}
					}
					.slider1img{
						float: right;
						width: 40%;
						margin-right: 8%;
						img{
							display: block;
						}
					}
					.breaker{
						clear:both;
					}
				}
				#slider2{
					//background-image: url('../img/slider1bg.jpg');
					//background-repeat:repeat;
					background-color: yellow;
				}
				.slider2{
					width: 1170px;
					margin: 0 auto;
					.carousel-indicators{
						right:52%;
						top:300px;
					}
					.slider2text{
						display: block;
						margin-left: 8%;
						padding-top: 40px;
						width: 35%;
						float: left;
						font-family: arial;
						text-align: justify;
						#slider2text1{
							display: inline-block;
							font-size: 22px;
						}
						#slider2text2{
							display: inline-block;
							margin-top: 20px;
							font-size: 18px;
							line-height: 24px;
						}
						p{
							display: inline-block;
							margin-top: 30px;
							font-size: 16px;
							line-height: 22px;
						}
						.joinbutton{
							display: inline-block;
							margin-top: 20px;
							padding: 10px;
							background-color: #F73A30;
							.roundedcorners;
							font-size: 24px;
							font-weight: bolder;
							color: #FFFFFF;
							line-height: 24px;
							&:hover{
								background-color: #FB6E24;
								text-decoration: none;
							}
						}
					}
					.slider2img{
						float: right;
						width: 40%;
						margin-right: 8%;
						img{
							display: block;
						}
					}
					.breaker{
						clear:both;
					}
				}
			}
		}
	}		
}
/* ==========================================================================
   SECOND ARTICLE
   ========================================================================== */
.second-article{
	background-image: url('../img/secondarticlebg.png');
	//background-color: #D4CAB7;
	border-bottom: 1px solid #928779;
	.container{
		.explain-panels{
			width: 1000px;
			margin: 20px auto;
			.breaker{
				clear:both;
			}
			.play-panel{
				.panel;
				background-color: #6D4885;
				background-image: url('../img/king.png');
				background-position: center;
				background-repeat: no-repeat;
			}
			.training-panel{
				.panel;
				background-color: #306A4B;
				background-image: url('../img/queen.png');
				background-position: center;
				background-repeat: no-repeat;
			}
			.business-panel{
				.panel;
				background-color: #6A3630;
				background-image: url('../img/rook.png');
				background-position: center;
				background-repeat: no-repeat;
			}
			a{
				display: block;
				margin-top: 25px;
				margin-bottom: 10px;
				color: #FFFFFF;
				text-decoration: none;
				&:hover{
					color: #b7bcc2;
					text-decoration: none;
				}
				h2{
					text-align: center;
					font-size: 32px;
				}
			}
			p{
				display: inline-block;
				margin: 15px 10%;
				text-align: justify;
				font-size: 14px;
				font-weight: bold;
				color: #D8DEF3;
			}
		}
		.socialmedia-panel{
			width: 1170px;
			margin: 0 auto;
			span{
				display: block;
				font-size: 16px;
				font-weight: bold;
			}
			a{
				display: block;
				margin-bottom: 20px;
			}				
		}
	}
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
footer{
	background-color: @headercolor;
	.container{
		font-size:12px;
		font-weight:normal;
		.footer-links{
			ul{
				display: block;
				float: left;
				margin: 10px 5px;
				li{	
					display: block;
					float:left;
					margin-right: 15px;
					a{
						color: #b7bcc2;
						text-decoration: none;
						&:hover{
							color: #FFFFFF;
							text-decoration:none;
						}
					}
				}
			}
		}
		.copyright{
			display:block;
			float:right;
			margin: 10px 5px;
			span{
				color: #6b6f74;
			}
		}
	}
}

/* ==========================================================================
   MODAL BOXES
   ========================================================================== */
//i think this is the default
#playModal{
	.modal-open {
		.dropdown-menu {  z-index: @zindexDropdown + @zindexModal; }
		.dropdown.open { *z-index: @zindexDropdown + @zindexModal; }
		.popover       {  z-index: @zindexPopover  + @zindexModal; }
		.tooltip       {  z-index: @zindexTooltip  + @zindexModal; }
	}

	// Background
	.modal-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: @zindexModalBackdrop;
		background-color: @black;
		// Fade for backdrop
		&.fade { opacity: 0; }
	}

	.modal-backdrop,
	.modal-backdrop.fade.in {
		.opacity(80);
	}

	// Base modal
	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: @zindexModal;
		max-height: 500px;
		overflow: auto;
		width: 560px;
		margin: -250px 0 0 -280px;
		background-color: @white;
		border: 1px solid #999;
		border: 1px solid rgba(0,0,0,.3);
		*border: 1px solid #999; /* IE6-7 */
		.border-radius(6px);
		.box-shadow(0 3px 7px rgba(0,0,0,0.3));
		.background-clip(padding-box);
		&.fade{
			.transition(e('opacity .3s linear, top .3s ease-out'));
			top: -25%;
		}
		&.fade.in { top: 50%; }
	}
	.modal-header {
		padding: 9px 15px;
		border-bottom: 1px solid #eee;
		// Close icon
		.close { margin-top: 2px; }
	}

	// Body (where all modal content resises)
	.modal-body {
		padding: 15px;
	}
	// Remove bottom margin if need be
	.modal-body .modal-form {
		margin-bottom: 0;
	}

	// Footer (for actions)
	.modal-footer {
		padding: 14px 15px 15px;
		margin-bottom: 0;
		background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		.border-radius(0 0 6px 6px);
		.box-shadow(inset 0 1px 0 @white);
		.clearfix();
		.btn {
		float: right;
		margin-left: 5px;
		margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
		}
	}
}
   
   
/* ==========================================================================
   RESPONSIVE  
   ========================================================================== */
@import url('bootstrap-responsive.less');
@import url('responsive.less');  













